<div class="dialog-div">
    <form>
        <div class="input-field">
            <input type="file" id="file" name="file">
            <label for="file">Datei auswählen</label>
        </div>
        <div class="input-field">
            <textarea type="text" id="description" name="description"></textarea>
            <label for="description">Beschreibung</label>
        </div>
        <div class="input-field">
            <input id="date" name="date" type="date">
            <label for="date">Datum</label>
        </div>
        <div>
            <div class="right">
                <input class="waves-effect btn main-red" type="submit" value="Bild speicher" />
            </div>
        </div>
    </form>
</div>