<nav th:fragment="navbar">
    <div class="nav-wrapper" sec:authorize="isAuthenticated()">
        <a class="brand-logo" href="/" th:href="@{/}"><span class="happy">happy Moments</span></a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a class="nav-link" href="/logout" th:href="@{/logout}">Logout</a>
            </li>
            <li>
                <a class="dropdown-trigger" href="#!" data-target="dropdown1" >
                    <i class="material-icons tiny">settings</i>
                </a>
            </li>
        </ul>
    </div>

    <div class="nav-wrapper" sec:authorize="isAnonymous()">
        <a class="brand-logo" href="/" th:href="@{/}"><span class="happy">happy Moments</span></a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a class="nav-link" href="/signup" th:href="@{/signup}">Sign up</a>
            </li>
            <li>
                <a class="nav-link" href="/login" th:href="@{/login}">Login</a>
            </li>
        </ul>
    </div>
</nav>

<div th:fragment="settings">
    <ul id="dropdown1" class="dropdown-content main-red">
        <li><a href="/user/profile" th:href="@{/user/profile}">Profil</a></li>
        <li><a href="/user/password/change" th:href="@{/user/password/change}">Passwort</a></li>
    </ul>
</div>